* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background: #55acee;
  min-height: 100vh;
}

button {
  outline: none;
  border: none;
}

.btn {
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
  background-color: #fff;
  transform: translateY(-50%) translateX(-50%);
  border-radius: 50%;
  padding: 3em;
  transition: 0.5s;
}

.btn i {
  font-size: 5em;
  color: #55acee;
}

.btns.active {
  visibility: visible;
  top: 50%;
}

#modal {
  z-index: 99;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: #fff;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
  border-radius: 1em;
  text-align: center;
  width: 100%;
  max-width: 35em;
  padding: 5em 0;
  transition: 200ms ease-in-out;
}

#modal i {
  color: #55acee;
  margin: 0 auto;
  font-size: 5em;
}

#modal .close {
  font-size: 3em;
  position: absolute;
  left: 3em;
  top: 1em;
  background: none;
  cursor: pointer;
}

#modal h2 {
  padding: 0.5em 0;
}

#modal.active {
  transition: 200ms ease-in-out;
  visibility: visible;
  top: 50%;
}

#overlay {
  position: fixed;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  visibility: hidden;
}

#overlay.active {
  transition: 200ms ease-in-out;
  visibility: visible;
  pointer-events: all;
}
